{% extends 'staff/base.html' %}

{% block content %}
<div class="container">
        <div class="row justify-content-center mt-3">
            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Revenue</h4>
                <h1 class="text-center" style="color: green;">${{ total_revenue }}</h1>
            </div>

            <div class="card col-md-5 mr-3">
                <h4 class="text-center pt-2">Today's Total Orders</h4>
                <h1 class="text-center" style="color: #ad0003;">{{ total_orders }}</h1>
            </div>
        </div>

    </div>
    <center><br>
    <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
        <h2>Add Menu Item</h2>
        <a href="{% url 'addfood' %}" class="btn btn-outline-primary">Add</a>
    </div><br>
    <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
        <h2>View Orders for Delivery</h2>
        <a href="{% url 'deliver' %}" class="btn btn-outline-primary">View</a>
    </div><br>
    <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
        <h2>Leave Complaint</h2>
        <a href="{% url 'dashboard' %}" class="btn btn-outline-primary">Complain</a>
    </div><br>
    </center>

{% endblock content %}